<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MySQLConnection"
             connectionString="server=tompsons.beget.tech;database=tompsons_stud04;uid=tompsons_stud04;password=1234567Vv"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>